extends layout

block content
  h1 Find your train! 
  //h1 SUSE RANCHER EXPRESS company limited
  p Select your train below to see its current schedule. 
  //Dont miss your train
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
  //p See You again, Thanks for travelling with US
  //img(src= "https://www.engineerbetter.com/img/blog/suse-rancher.jpeg")
  
